# Database
DB_DIALECT=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=real_estate_aggregator
DB_USERNAME=postgres
DB_PASSWORD=4040

# Random stuff
NODE_ENV=dev
## PROXY_URL: https://nordvpn.com/es/ovpn/
## copy((new Array(...$('.col-sm-6.text-xs-center span'))).map(elm => elm.textContent).filter(str => str.startsWith('es') || str.startsWith('fr') || str.startsWith('pt')).map(str => `https://${str}:89`).join('|'))
PROXY_URL=https://es137.nordvpn.com:89
PROXY_USER=servicecredentialsuser
PROXY_PASS=servicecredentialspass
GOOGLE_MAPS_API_KEY=AIzaSyDc4BLFfQFgmuwNr5ig2CVcuHAMp1NJsIk